# Ignore output videos directory
output_videos/
output_videos/*.mp4

# Ignore temporary videos directory
temp_videos/
temp_videos/*.mp4

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Logs
*.log

# Local configuration
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/